@font-face {
    font-family: 'Teko';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/teko/v10/LYjNdG7kmE0gfaN9oA.ttf) format('truetype');
}

.animation {
    font-family: 'Teko', sans-serif;
    font-size: calc(14px + ((100vw - 400px) / 80));
    line-height: 1.5;
    padding: 50px 0 50px 0;
}
@media screen and (max-width: 420px) {
    .animation {
        font-size: 14px;
        display: none;
    }
}
@media screen and (min-width: 1200px) {
    .animation {
        font-size: 24px;
    }
}
.animation {
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #340131;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%239C92AC' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='1'/%3E%3C/g%3E%3C/svg%3E");
}
.navigation {
    position: relative;
    overflow: hidden;
    /*top: 0;*/
    /*left: 0;*/
    height: 100vh;
    width: 100vw;
}
.navigation__link {
    position: absolute;
}
.navigation__link:nth-of-type(1) {
    top: 17rem;
    left: 17rem;
}
.navigation__link:nth-of-type(2) {
    top: 17rem;
    right: 17rem;
}
.navigation__link:nth-of-type(3) {
    right: 17rem;
    bottom: 17rem;
}
.navigation__link:nth-of-type(4) {
    left: 17rem;
    bottom: 17rem;
}
.navigation__link::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 5rem;
    width: 5rem;
    display: block;
    border: 2px solid #ffffff;
    border-radius: 50%;
    transition: transform 0.3s cubic-bezier(0.36, 0.02, 0.25, 1.31);
}
.navigation__link:hover::after {
    transform: translateX(-50%) translateY(-50%) scale(2);
}
.navigation__title {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
}
.navigation__text {
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    opacity: 0;
}
.navigation__text--active {
    opacity: 1;
}
.navigation__text-layer {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
    font-size: 10rem;
}
@-webkit-keyframes move-layer-left {
    from {
        transform: translateX(-50%) translateY(-50%);
    }
    50% {
        transform: translateX(calc(-50% - 5px)) translateY(-50%);
    }
    to {
        transform: translateX(-50%) translateY(-50%);
    }
}
@keyframes move-layer-left {
    from {
        transform: translateX(-50%) translateY(-50%);
    }
    50% {
        transform: translateX(calc(-50% - 5px)) translateY(-50%);
    }
    to {
        transform: translateX(-50%) translateY(-50%);
    }
}
@-webkit-keyframes move-layer-right {
    from {
        transform: translateX(-50%) translateY(-50%);
    }
    50% {
        transform: translateX(calc(-50% + 5px)) translateY(-50%);
    }
    to {
        transform: translateX(-50%) translateY(-50%);
    }
}
@keyframes move-layer-right {
    from {
        transform: translateX(-50%) translateY(-50%);
    }
    50% {
        transform: translateX(calc(-50% + 5px)) translateY(-50%);
    }
    to {
        transform: translateX(-50%) translateY(-50%);
    }
}
.navigation__text-layer:nth-of-type(1) {
    z-index: 1;
}
.navigation__text-layer:nth-of-type(2) {
    color: #25CED1;
}
.navigation__text-layer:nth-of-type(3) {
    color: #EA526F;
}
.navigation__text-layer--glitch:nth-of-type(2) {
    -webkit-animation: move-layer-left 0.5s cubic-bezier(0.36, 0.02, 0.25, 1.31);
    animation: move-layer-left 0.5s cubic-bezier(0.36, 0.02, 0.25, 1.31);
}
.navigation__text-layer--glitch:nth-of-type(3) {
    -webkit-animation: move-layer-right 0.5s cubic-bezier(0.36, 0.02, 0.25, 1.31);
    animation: move-layer-right 0.5s cubic-bezier(0.36, 0.02, 0.25, 1.31);
}